 body{  
        display: -webkit-box;
        -webkit-box-pack: center;
        margin-top: 4vh;
        background-image: url(../projects/images/wp-1.jpg);
        background-attachment: fixed;
        background-position:left;
        background-size: cover;
        
        background-repeat: no-repeat;
        max-width: 100%;
    }

.head{
        padding: 2%;
}
 h1{
        color: teal;
  }
main{
        background: white;
        max-width: 70%;
        width: 60%;
        box-shadow: 2px 4px 2px #aaa, -2px -2px 2px #aaa;
        border: 2px ridge teal;
        transition: all .3s;
    }
.task-session{
        padding: 2%;
}
#div{
        margin-top: 4%;
        margin-left: 2%;
}
#task-input{

        margin-left: -3%;
        padding: 1% 5%;
        border-style: none;
        background: transparent;
        border-bottom: 1px solid #aaa;
        width: 60%;
        
    }
#task-input:focus{
        background-color: aliceblue;
}
.fa-plus{
    
    position: relative;
    padding: 1% 1%;
    left: 2%;
    font-size: 1.5em;
}



#search-input{
        padding: 1% 5%;
        border-style: none;
    border-bottom: 1px solid #aaa;
    background: transparent;
        width: 40%;
}
#search-input:focus{
    background-color: aliceblue;
    
}
.fa-search{
    position: relative;
    left: 5%;
    font-size: 1.5em;
    padding: 2% 2%;

}
#add-button{
/*        display: block;*/
        transition: all .5s;
        margin-top: 5%;
        border-style: none;
        box-shadow: 1px 2px 2px #aaa;
        background: teal;
        color: white;
        padding: 1.3% 2%;    
    }
#add-button:hover{
        background-color: darkslategrey;
        transform: scale(1.1);
        transition: all .5s;
}
li .a{
        
        float: right;
        font-size: 100%;
        display: block;
    }
.a:hover{
/*        padding: .5%;*/
/*        margin-bottom: -1%;*/
    transform: scale(1.2);
        color: cornsilk;
        background: red;
        text-align: center; 
}
.a:focus{
    color: rebeccapurple;
/*    background: red;*/
    
}
.a:active{
    color: white;
}


ol li{
        border: 1px solid #aaa;
        padding: 1%;
        font-size: 100%;
        text-transform: capitalize;
}
ol li:nth-child(even){
        background-color: aliceblue;
}
#del-all{
    border-style: none;
    background-color: black;
    color: white;
    padding: 1.2% 2%;
    transition: all .3s;
    margin: 3% 0% 3% 6%;
    display: none;
    
}
#del-all:hover{
    transform: scale(1.1);
    border: 1px solid #a00;
    box-shadow: 3px 3px 2px 1px #000;
    transition: all .3s;
    background-color: red;
    color: cornsilk;
        margin: 3% 0% 3% 6%;
}
#a{
    display: block;
}
#hr{
    opacity: .4;
}
#a{
    color: white;
    text-decoration: none;
}
#a:hover{
    color: cornsilk;
}
a:focus{
    color: cornsilk;
}


    /* Side Bar Section*/
::root{
    
    --slide-in: -29%;
    --initial-width: 30%;
    --ease-in: -30%;
--none: none ;
    
--moveable: relative;
}

.change{
    position: relative;
    
    left: 14%;
    transition: all .3s;
}
.dont-change{
    position: relative;
    
    left: 0%;
    transition: all .3s;
}

ul li{
    padding: 2%;
    transition: all .3s;
    color: #aaa;
}
ul li:hover{
    transition: all .5;
    margin-left: 1%;
    
}
.toggle-in{
    width: var(--initial-width, 30%);
/*    position:  relative;*/
    position: fixed;
    margin-left: var(--slide-in, -29%);
    transition: all .3s;
    left: -3%;
    
}
.toggle-out{
    width: var(--initial-width, 30%);
/*    position: relative;*/
    position: fixed;
    margin-right: 0%;
/*    left: -5%;*/
    left: -1.5%;
    transition: all .3s;
}
a.link{
    text-decoration: var(--none);
    text-decoration-color: teal;

}
